html, body {
  margin: 0;
  padding: 10;
  height: 100%; /* 画面全体を使う */
  overflow: hidden; /* 画面外にスクロールさせない */
  
}

@font-face {
  font-family: 'Etlangenumber';
  src: url('/fonts/Etlangenumber-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Etlange';
  src: url('/fonts/Etlange-Regular.ttf') format('truetype');
}

.custom-font {
  font-family: 'Etlangenumber', sans-serif;
}

.custom-font2 {
  font-family: 'Etlange', sans-serif;
}

.header{
  display: inline;
  
}

.choice{
  display: inline;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100%; /* ビューポート全体を使う */
}

.timer {
  font-size: xx-large;
  color: azure;
  margin-top: 80pt;
}

p {
  color: white;
  display: inline;
  margin-top: 10pt;
}

.dashed{
  background-image :
    linear-gradient(to right, #fff, #fff 20px, transparent 10px, transparent 10px),  /* 上の線 */
    linear-gradient(to bottom, #fff, #fff 20px, transparent 10px, transparent 10px), /* 右の線 */
    linear-gradient(to left, #fff, #fff 20px, transparent 10px, transparent 10px),  /* 下の線 */
    linear-gradient(to top, #fff, #fff 20px, transparent 10px, transparent 10px);   /* 左の線 */
  background-size:
    40px 4px,  /* 上の線 */
    4px 40px, /* 右の線 */
    40px 4px,  /* 下の線 */
    4px 40px;   /* 左の線 */
  background-position:
    left top,  /* 上の線 */
    right top, /* 右の線 */
    right bottom,  /* 下の線 */
    left bottom;   /* 左の線 */
  background-repeat:
    repeat-x,  /* 上の線 */
    repeat-y, /* 右の線 */
    repeat-x,  /* 下の線 */
    repeat-y;   /* 左の線 */
}

